@{
    ViewBag.Title = "Página Principal";
}

<p>
    <br />
    <br />
    <br />
    <br />
    Este Programa Da Mantenimiento a dos Tablas una para Clientes y la Otra para los NCFs de una compañia.
    Tambien se establece una relación del tipo de comprobante que se usará para el cliente en las futuras
    facturaciones. Algo tipico en todo tipo de negocio.
</p>